
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="display:flex">
        <div style="border-radius:1rem;background-color:darkslateblue;padding:.5rem">
            <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:medium">
                Hello MVC App
            </p>
        </div>
    </div>
</body>
</html>
